
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

.caja-font{
    font-family: 'Laila', sans-serif;
}



.bg-verde{
    background-color: #00A86B; 
}

.fondo-img{
    width: 100px;
    height: 50px;
}

#navbarNav ul li a {
    color: white;
    margin-right: 200px;
}

.container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img{
    display: block;
    width: 100%;
    aspect-ratio: 1;
    margin: 0px auto;
    border-radius: 5px;
  }
  
  .card{
    width: 15rem;
    height: fit-content;
    border: 2px solid #00A86B;
    box-shadow: 8px 10px 12px -5px rgb(0 0 0 / .4);
  }

  #logo:hover{
    transform:translateY(-10%);
    transform: scale(1.2);
  }


  @keyframes pata{ 
    from{
        opacity: 1;
 }
 to{
        opacity: 0;
 }
}
.patita{
    width: 100px;
    height: 100px;
    position: relative;
    float: right;
    animation-name: pata;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes pata{ 
  from{
      opacity: 1;
}
to{
      opacity: 0;
}
}
.patita2{
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  animation-name: pata;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;}