
body{
  overflow-x: hidden;
  font-family: var(--font-nunito);
}

.texto-acerca-nosotros h1{
  font-weight: 600;
}

.container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.div-center{
  margin: 0 auto;
}

.btn-color{
  background-color: var(--amarillo-base);
}


.img{
    display: block;
    width: 100%;
    aspect-ratio: 1;
    margin: 0px auto;
    border-radius: 5px;
  }
  
  .card{
    width: 15rem;
    height: fit-content;
    border: 2px solid var(--amarillo-base);
    box-shadow: 8px 10px 12px -5px rgb(0 0 0 / .4);
  }


  @keyframes pata{ 
    from{
        opacity: 1;
 }
 to{
        opacity: 0;
 }
}
.patita{
    width: 100px;
    height: 100px;
    position: relative;
    float: right;
    animation-name: pata;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes pata{ 
  from{
      opacity: 1;
}
to{
      opacity: 0;
}
}
.patita2{
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  animation-name: pata;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

