h1{
    text-align: center;
    
}






section{
    display: flex;
    justify-content: space-evenly;
    
   
}

.card-img-top{
    width: 286px;
    height: 250px;
}

/* .card{
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}
.card p {
    width: 60%;
    height: 40%;
    position: absolute;
    top: -100vh;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  } */

html{
    clear:both;
    
}

.carousel-item {
    position: center;
    display: none;
    float: none;
    width: 100%;
    height: auto;
    position: center;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 1023px) {
    html{
        clear:both;
        width: min-content;
    }
  }