
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

.caja-font{
    font-family: 'Laila', sans-serif;
    
}
body{
    overflow-x: hidden;
  }

#logo:hover{
    transform:translateY(-10%);
    transform: scale(1.2);
  }

.bg-verde{
    background-color: #00A86B; 
}

.btn-green{
background-color:  #00A86B;
}

.bg-green2{
    background-color: #CCEEE1;
}
.perrito{
    
    left: 650px;
    bottom: 250px;
    width: 500px;
    height: 500px;
}

.estilo-form{
    border-radius: 5%;
    font-family: 'Laila', sans-serif;
    text-align: center;
    padding-top: 8rem;
   
}
.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  

  .btn-link{
    color: white;
    text-decoration: none;
}



.form{
    background-image: url(/images/perrito.jpg) 

}



