

body{
    overflow-x: hidden;
    
}

.btn-link{
    color: white;
    text-decoration: none;
}

.form-descripcion-div{
    font-family: var(--font-nunito);
}

.form-descripcion-div h1{
    font-weight: 600;
}
.form-descripcion-div p{
    width: 85%;
}

#form-contacto .input-contacto{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--gris-oscuro);
}



#form-contacto .input-contacto-mensaje{
    border-bottom: 1px solid rgb(84, 84, 84);
}

#form-contacto .btn-contacto{
    background-color:  #FFC75F;
}

.img-perro-amarillo-mano{
    width: 100%;
    height: auto;
}

