
html{
  margin: 0;
}
body{
  min-height: 100vh;
  position: relative;
}

footer{
  width: 100%;
  position: absolute;
  background-color: #000;
  color: #d9ece4;
  margin-bottom: 0;
  padding: 9px 0;
  bottom: -6.25rem;
  clear: both;
}

footer .nav-link{
  color:#d9ece4;
}

footer  .nav-link:hover{
  color: #00A86b;
}

footer p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
}

.nav-item{
  margin-right: 0;
}