@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

p{ 
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.especie{
    font-family: 'Laila', sans-serif;    
}
.img-container{
    text-align :center;
}


/* ----- -----  Estilos para Validacion ----- ----- */


.inputCorrecto {
    border: solid forestgreen 5px;
    opacity: 1;
    
}
    
.inputIncorrecto {
    border: solid red 5px;
    display: block;
}

.alert-danger{
    margin-bottom: 0;
    display: none;
}

.alert-danger-activo{
    display: block;
}

.btn-green{
    background-color:  #00A86B;
    }
    
    .bg-green2{
        background-color: #CCEEE1;
    }