
/* font Nunito aplicada a todo la página index.html */
body{
    font-family: var(--font-nunito);
}

/*estilo párrafo "Donde tu mascota es la protagonista*/
p{ 
    font-size: 2.5rem;
    font-weight:650;
}

/* estilos imagen */
.img-chica-paseando-perro{
    width: 80%;
}

/* div = img y párrafo "Donde tu mascota es la protagonista" */
.estilo-form{
    text-align: center;
}

/* espaciado entre cada bloque (label & input) */
.formularioGrupo{
    padding: 0.8rem;
}

/* form > estilo de los inputs */
#formularioIndex .estilo-inputs{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--gris-oscuro);
}

#formularioIndex .btn-color{
    background-color: var(--amarillo-base);
}

#formularioIndex #btnTengoCuenta{
    background-color: var(--white);
}
#formularioIndex #btnTengoCuenta:hover{
    text-decoration: underline;
}


/* ----- -----  Estilos para Validacion ----- ----- */


.inputCorrecto {
    border: solid forestgreen 5px;
    opacity: 1;
    
}
    
.inputIncorrecto {
    border: solid red 5px;
    display: block;
}

.alert-danger{
    margin-bottom: 0;
    display: none;
}

.alert-danger-activo{
    display: block;
}

.div-btns{
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

/* #btnRegistro{
    width: 40%;
}

#btnTengoCuenta{
    width: 0%;
} */


@media only screen and (max-width: 600px) {
    
    p{ 
        font-size: 1.7rem;
        font-weight:650;
    }
    


}
