
/* font Nunito aplicada a todo la página index.html */
body{
    font-family: var(--font-nunito);
}

/*estilo párrafo "Donde tu mascota es la protagonista*/
p{ 
    font-size: 2.5rem;
    font-weight: 600;
}

/* estilos imagen */
.img-chica-paseando-perro{
    width: 90%;
}

/* div = img y párrafo "Donde tu mascota es la protagonista" */
.estilo-form{
    text-align: center;
}

/* espaciado entre cada bloque (label & input) */
.formularioGrupo{
    padding: 0.8rem;
}

/* form > estilo de los inputs */
#formularioIndex .estilo-inputs{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--gris-oscuro);
}

#formularioIndex .btn-color{
    background-color: var(--amarillo-base);
}

#formularioIndex #btnSinCuenta{
    background-color: var(--white);
}

#formularioIndex #btnSinCuenta:hover{
    Text-decoration: underline; 
}



